.reviews
  background: $secondery
  &-swiper
     
  &-title
    font-style: normal
    font-weight: 700
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-slide
    margin: auto
    margin-top: 90px
    background: #fff
    border-radius: 8px
    position: relative
  &-profile
    display: flex
    flex-direction: column
    align-items: center
    &__avatar
      border-radius: 50%
      width: 90px
      height: 90px
      margin-top: -45px
      margin-bottom: 9px
      object-fit: cover
    &__username
      font-style: normal
      font-weight: 700
      font-size: 12px
      line-height: 15px
      color: $primery
      margin: 0
      margin-bottom: 10px
    &__date
      font-style: normal
      font-weight: 400
      font-size: 10px
      line-height: 13px
      margin-bottom: 4px
    &__text
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 160%
      padding: 18px 97px
      text-align: justify
